
body {
    margin:0;
}

.container {
    background-image: url('https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    height: 150vh;
    position: relative;
}

.navi {
    text-align: right;
    padding-right: 10%;
}
.header {
    text-align: center;
    padding-top: 20%;
    font-size: 36px;
}
.loading {
    text-align: center;
    padding-top: 5%;
}
.center-container {
    height: 20px;
    position: relative;
  }
.container-margin {
    margin: 20px;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.span-right {
    position: absolute;
    left: 90%;
}
.text-white {
    color:white;
}
  .button {
    background-color: aqua;
}
.icon-center {
    background-color: rgb(11, 69, 50);   
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.logo-container {
    border: solid 1px;
    border-radius: 100px;
    padding: 3px;
    margin: 2px;
}
.progress-bar-container {
    background-color: grey;
    box-shadow: 2px 2px rgb(80, 76, 76);
    width: 250px;
    height: 10px;
}
.progress-bar {
    background-color: lightblue;
    width: 75%;
    height: 10px;
}
.end-page {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



